* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    background-color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;   
}
.menu li {
    display: inline;
}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 15px;
    transition: background .3s;

}
.menu ul li a:hover {
    background-color: cornflowerblue;
}
.nome {
font-family: 'Courier New', Courier, monospace;
background-color: cadetblue;
color: white;
padding: 20px;
text-align: center;
}
.description {
    background-color: cornflowerblue;
    padding: 10px;
    text-align: center;
    
}   
.description p {
    font-family: 'Courier New', Courier, monospace;
    color: white;    
}
.description img {
    border-radius: 100%;
    width: 150px;  
}
.modulos {
    background-color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 20px;
   
    }
    .modulos form {
        padding: 10px;       
    }
    .habilidades {
        background-color: cadetblue;
        font-family: 'Courier New', Courier, monospace;
        color: white;
        padding: 20px;
        
        }
        .habilidades ul {
            padding-left: 20px;
            padding-top: 10px;
        }        
        
    
    .footer {
    background-color: black;
    color: white;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    text-align: center;
    font-size: small;
}