*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    background-color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;   
}
.menu li {
    display: inline;
}
.menu li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 20px;
    transition: background .3s;

}
.menu ul li a:hover{
    background-color: cornflowerblue;
}
.nome {
font-family: 'Courier New', Courier, monospace;
background-color: cadetblue;
color: white;
padding: 20px;
}
.description {
    background-color: cornflowerblue;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    
}   
img, p {
    display: inline-block;
}
.modulos {
    background-color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 20px;
    }
    .modulos li{
        padding left: 10px;
    }
    .habilidades {
        background-color: cadetblue;
        font-family: 'Courier New', Courier, monospace;
        color: white;
        padding: 20px;
        }
        .habilidades li{
            padding left: 10px;
        }
.footer {
    background-color: black;
    color: white;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}